<div class="row container mt-5" *ngIf="!passwordCorretta">
    <form class="form-inline">


        <div class="form-group mx-sm-3 mb-2">
            <label for="name">Inserisci la password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
          <button (click)="checkPassword()" type="submit" type="button" class="btn btn-primary mb-2">Accedi</button>
       
    </form>
</div>
<div *ngIf="passwordCorretta ">
    <div class="row container  mt-5">
        <div class="col-8">
            <h1>Benvenuto {{nome}}</h1>
        </div>
        <div class="col-4"> <button (click)="logOut()" type="button" class="btn btn-danger" type="submit">Log Out</button></div>

    </div>
</div>
<div class="row container  mt-5" *ngIf="passwordCorretta">
    <div class="col-6">
        <h1>TITOLARI</h1>
        <h4 [ngClass]="{
            'portiere': tit.ruolo==='P',
            'difensore': tit.ruolo==='D',
            'centrocampista': tit.ruolo==='C',
            'attaccante': tit.ruolo==='A'
        }" *ngFor="let tit of iTuoiTitolari">{{tit.nome}} {{tit.percentuale}} {{tit.ruolo}}</h4>
    </div>
    <div class="col-6">
        <h1>RISERVE</h1>
        <h4 [ngClass]="{
            'portiere': ris.ruolo==='P',
            'difensore': ris.ruolo==='D',
            'centrocampista': ris.ruolo==='C',
            'attaccante': ris.ruolo==='A'
        }" *ngFor="let ris of leTueRiserve">{{ris.nome}} {{ris.percentuale}} {{ris.ruolo}}</h4>
    </div>
</div>